
.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    margin-left: 400px;
}

.input {
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    width: 400px;
    
}

.button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 8px;
}

.button:hover {
    
    color: orangered;
}

p{
    font-weight: bold;
    
}
